/* Universal */

html {
  font-size: 18px;
}

body {
  font-family: helvetica, serif, sans-serif;
  line-height: 1.4rem;
}

div {
  display: block;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* HEADER */

header {
  background-image: url(images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
background-color: cadetblue;
padding: 1rem 0;
color: white;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.mobile-menu {
  display: none;
}
/* BANNER */


header .flex{
  justify-content: flex-end;
}

.main-banner {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 1.2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;

}
/* SUPPORTING */

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper{
  width: 3.5rem;
}

/* INFO */

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

.info p {
    padding: 1rem 0;
}
/* FOOTER */

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

footer img {
  height: 1.5rem;
}

/* MEDIA */

    /* TABLET */

@media only screen and (max-width: 1024px) {

  header {
    height: 22rem;
    padding-top: 0;
  }

  nav.container {
    max-width: 100%;
  }

  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  h1  {
    font-size: 1.33rem;
  }
}

/* Mid-Point */

@media only screen and (max-width: 720px) {
  .menu ul {
    display: none;
  }

  .menu ul.mobile-menu {
    display: block;
  }
}

    /* Mobile */

@media only screen and (max-width: 560px) {
  header {
    background-position: 20%
    height: 17rem;
  }

  header div span {
      display: none;
  }

  .main-banner {
    margin: 9rem auto 0 auto;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 1rem;
  }

  .supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
  }

  .info {
    width: auto;
  }

  .info .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
